gui:
  showIcons: true
  nerdFontsVersion: "3"
  theme:
    selectedLineBgColor:
      - reverse
    selectedRangeBgColor:
      - reverse

git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
